body{
  background-color: rgb(227, 139, 205);
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #f6f6fc;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #f9f9fc;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0c0c0c;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
h2{
  color: #151515;
}
